__pycache__
results/
log/
pth/
dataset/
dataset2/
mk_dataset/
notebook/
model/
model/clip-vit-base-patch32
model/stella_en_1.5B_v5
bak/
.vscode/

*.safetensors
.env
*.npz
*.npy
*.eps
*.png
*.xz
*.tar
test.yaml